#bluetooth:hover {
    color: @accent_color;
    opacity: 1;
}

#bluetooth.connected {
    color: @success_color;
}

#bluetooth.discoverable {
    animation: blink 1s infinite;
    color: @warning_color;
}

#bluetooth.discovering {
    animation: blink 1s infinite;
    color: @text_color;
}

#bluetooth.pairable {
    animation: blink 1s infinite;
    color: @success_color;
}

#network:hover {
    color: @accent_color;
    opacity: 1;
}

#network.disabled,
#network.disconnected {
    color: @text_color;
    opacity: 0.3;
}

#network.ehternet,
#network.linked,
#network.wifi {
    color: @success_color;
}
