* {
    box-shadow: none !important;
}

undershoot.top,
undershoot.bottom,
undershoot.right,
undershoot.left {
    background-image: none;
}

VteTerminal,
TerminalScreen,
vte-terminal {
    padding: 16px;
    -vteterminal-inner-border: 16px;
}

check,
radio {
    border: 2px solid @gray16;
}

check {
    border-radius: 8px;
}

button {
    border-radius: 8px;
}
