.large-title {
    font-size: 14px;
    font-weight: 700;
}

.title-1 {
    font-size: 14px;
    font-weight: 700;
}

.title-2 {
    font-size: 14px;
    font-weight: 700;
}

.title-3 {
    font-size: 14px;
    font-weight: 700;
}

.title-4 {
    font-size: 14px;
    font-weight: 700;
}

.heading {
    font-size: 14px;
    font-weight: 700;
}

.body {
    font-size: 14px;
    font-weight: 400;
}

.caption-heading {
    font-size: 14px;
    font-weight: 700;
}

.caption {
    font-size: 14px;
    font-weight: 400;
}
