@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

#battery.discharging.critical {
    animation: blink 1s infinite;
}

#idle_inhibitor {
    color: @text_color;
}

#idle_inhibitor:hover {
    color: @accent_color;
}

#idle_inhibitor.deactivated {
    color: @text_color;
    opacity: 0.3;
}

#power .drawer-child * {
    margin-left: 0px;
}

#power-profiles-daemon:hover {
    color: @accent_color;
}

#power-profiles-daemon.balanced {
    color: @text_color;
    opacity: 0.3;
}

#power-profiles-daemon.performance {
    color: @error_color;
}

#power-profiles-daemon.power-saver {
    color: @success_color;
}
