#pulseaudio .drawer-child * {
    margin: 0;
    padding: 0;
    padding-right: 8px;
}

#pulseaudio.muted {
    opacity: 0.3;
}

#pulseaudio.bluetooth {
    color: @success_color;
}

#pulseaudio-slider slider {
    border: 2px solid @coral16;
    box-shadow: none;
    min-height: 0px;
    min-width: 0px;
}

#pulseaudio-slider slider:hover {
    border: 2px solid @accent_color;
}

#pulseaudio-slider trough {
    background: @dialog_bg_color;
    min-width: 128px;
}

#pulseaudio-slider highlight {
    background: @dialog_fg_color;
    min-width: 1px;
}
