#pulseaudio .drawer-child * {
    margin: 0;
    padding: 0;
    padding-right: 8px;
}

#pulseaudio.muted {
    opacity: 0.3;
}

#pulseaudio.bluetooth {
    color: @success_color;
}

#pulseaudio-slider slider {
    background: @text_color;
    border: 2px solid @text_color;
    box-shadow: none;
    min-height: 0px;
    min-width: 0px;
}

#pulseaudio-slider trough {
    background: alpha(@text_color, 0.3);
    min-width: 128px;
}

#pulseaudio-slider highlight {
    background: @text_color;
    min-width: 1px;
}
