window.left #workspaces {
    margin-left: 4px;
}

window.left #workspaces {
    border-radius: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 4px;
    margin-left: 0px;
    margin-right: 12px;
}

window.left #workspaces button {
    background: transparent;
    box-shadow: none;
    color: @text_color;
    margin: 0;
    margin-top: -4px;
    margin-bottom: -4px;
    opacity: 0.5;
}

window.left #workspaces button.active {
    opacity: 1;
}

#workspaces button {
    background: none;
    box-shadow: none;
    color: @text_color;
    margin-right: 32px;
}

#workspaces button .taskbar-window {
    opacity: 0.5;
}

#workspaces button .taskbar-window.active {
    opacity: 1;
}
