window.left #workspaces {
    margin-left: 4px;
}

window.left #workspaces button {
    background: transparent;
    box-shadow: none;
    color: @text_color;
    margin: 0;
    margin-right: 2px;
    opacity: 0.5;
}

window.left #workspaces button.active {
    opacity: 1;
}

#workspaces button {
    background: none;
    box-shadow: none;
    color: @text_color;
    margin-right: 32px;
}

#workspaces button .taskbar-window {
    opacity: 0.5;
}

#workspaces button .taskbar-window.active {
    opacity: 1;
}
