* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Sans Mono";
    font-size: 13px;
    min-width: 16px;
    margin: 0;
    padding: 0;
    transition: all 200ms ease-out;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

tooltip {
    background: @dark_1;
    border-radius: 8px;
    opacity: 0.9;
}

tooltip label {
    color: @text_color;
    margin: 16px;
}

window#waybar {
    background: rgba(19, 19, 19, 0.48);
}
