#backlight .drawer-child * {
    margin: 0;
    padding: 0;
    padding-right: 8px;
}

#backlight-slider slider {
    border: 2px solid @coral16;
    box-shadow: none;
    min-height: 0px;
    min-width: 0px;
}

#backlight-slider slider:hover {
    border: 2px solid @accent_color;
}

#backlight-slider trough {
    background: @dialog_bg_color;
    min-width: 128px;
}

#backlight-slider highlight {
    background: @dialog_fg_color;
    min-width: 1px;
}
