@import "backlight/backlight.css";
@import "clock/clock.css";
@import "common/common.css";
@import "communication/communication.css";
@import "hyprland/hyprland.css";
@import "notifications/notifications.css";
@import "other/states.css";
@import "other/tooltip.css";
@import "other/window.css";
@import "pinned/pinned.css";
@import "power/power.css";
@import "pulseaudio/pulseaudio.css";
@import "shutdown/shutdown.css";
@import "specialworkspace/specialworkspace.css";
@import "tools/tools.css";
@import "walker/walker.css";
@import "workspace/workspace.css";

* {
    background: transparent;
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Sans Mono";
    font-size: 13px;
    min-width: 16px;
    margin: 0;
    padding: 0;
}
