* {
    all: unset;
    font-family: "Ubuntu Sans Mono";
    font-size: 13px;
}

.box-wrapper {
    border-radius: 96px;
    min-height: 960px;
    min-width: 640px;
    padding: 128px;
}

child:selected .item-box,
row:selected .item-box {
    background: alpha(@gray12, 0.16);
    color: @gray24;
    font-weight: bold;
}

.disconnected {
    opacity: 0.32;
}

.error {
    background: @red08;
    color: @red20;
    padding: 8px;
}

.input {
    border-bottom: 1px solid @gray4;
    caret-color: @gray24;
    color: alpha(@gray24, 0.64);
    padding: 16px;
    padding-left: 58px;
    padding-right: 58px;
}

.input placeholder {
    opacity: 0.5;
}

.input selection {
    background: @gray4;
}

.item-box {
    border-radius: 8px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.item-subtext {
    font-size: 10px;
    font-weight: 500;
    opacity: 0.32;
}

.keybind-button {
    opacity: 0.48;
}

.keybind-button:hover {
    opacity: 1;
}

.keybind-label {
    background: @gray4;
    border-radius: 8px;
    padding: 8px;
}

.large-icons {
    -gtk-icon-size: 32px;
}

.list {
    color: @gray20;
}

.normal-icons {
    -gtk-icon-size: 16px;
}

.preview {
    border-radius: 8px;
    padding: 16px;
}
