* {
    all: unset;
    font-family: "Ubuntu Sans Mono";
    font-size: 13px;
}

popover {
    background: #212121;
    border-radius: 16px;
    border: 1px solid #292929;
    padding: 8px;
}

child:selected .item-box,
row:selected .item-box {
    background: #292929;
}

.box-wrapper {
    background: #1a1a1a;
    border-radius: 32px;
    border: 1px solid #6b6b6b;
    padding: 64px;
}

.normal-icons {
    -gtk-icon-size: 16px;
}

.large-icons {
    -gtk-icon-size: 32px;
}

.input {
    caret-color: #ededed;
    border-bottom: 1px solid #212121;
    padding: 16px;
    padding-left: 58px;
    padding-right: 58px;
    color: #949494;
}

.input placeholder {
    opacity: 0.5;
}

.input selection {
    background: #494949;
}

.keybind-button {
    opacity: 0.48;
}

.keybind-button:hover {
    opacity: 1.00;
}

.keybind-label {
    border-radius: 8px;
    padding: 8px;
    background: #292929;
}

.item-box {
    border-radius: 8px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.item-subtext {
    font-size: 10px;
    font-weight: 500;
    opacity: 0.32;
}

.preview {
    background: #131313;
    border-radius: 8px;
    padding: 16px;
}

.disconnected {
    opacity: 0.32;
}

.list {
    color: #ededed;
}

.error {
    padding: 8px;
    background: #4e0906;
    color: #e1756d;
}
